body{
    margin: 0px;
    padding: 0px;
}


.schedule-appointment-heading{
    padding: 150px 70px 10px;
    color: rgb(75, 73, 73);
}
.schedule-appointment-heading p{
    font-weight: 500;
    padding-top: 20px;
}
.schedule-appointment-heading p .fas{
    color: rgb(26, 170, 115);
}


.mainPage {
    height: auto;
    margin: 0px 80px;
}
.mainPage .heading-line{
    text-align: center;
}
.mainPage .heading-line h3 {
    font-weight: 900;
    margin-bottom: 25px;
}
.mainPage .heading-line p {
    font-size: 18px;
    margin-bottom: 40px;
    font-weight: 400;
}


.patient-appointment-links {
    height: auto;
    margin: 0px 80px 20px 80px;
}
.patient-appointment-links .patient-mychart-login {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.349);
    border-radius: 3px;
    padding: 30px;
    margin-bottom: 20px;
}
.patient-appointment-links .patient-mychart-login h4 {
    margin-bottom: 20px;
    font-weight: 700;
}
.patient-appointment-links .patient-mychart-login p{
    font-size: 17px;
}
.patient-appointment-links .patient-mychart-login a {
    text-decoration: none;
    background-color: rgb(26, 170, 115);
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 2px;
}










/*  MEDIA  */

@media (max-width: 576px) {
    .mainPage {
        margin: 0px 20px;
    }
}

@media (min-width: 576px) and (max-width: 1200px) {
    .mainPage {
        margin: 0px 30px;
    }
}


@media (max-width: 767px){
    .schedule-appointment-heading{
        display: none;
    }

    .mainPage{
        margin-top: 100px;
    }
}

@media (max-width: 1200px){
    .patient-appointment-links {
        margin: 0px 20px;
    }
}